/** @format */

.dev-video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

.dev-hero-container {
  background: url("/src/assets/Images/hero.jpg") center center/cover no-repeat;
  filter: invert(0.1);
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
}

.dev-hero-container > h1 {
  color: #090700;
  font-size: 100px;
  margin-top: -100px;
  background-color: white;
}

.dev-hero-container > h2 {
  margin-top: 8px;
  color: #e3c108;
  font-size: 100px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #090700;
}

.dev-hero-btns {
  margin-top: 32px;
}

/* .hero-btns .btn {
    margin: 6px;
    background-color: #090700;
} */

.dev-fa-play-circle {
  margin-left: 4px;
}

@media screen and (max-width: 960px) {
  .dev-hero-container > h1 {
    font-size: 70px;
    margin-top: -150px;
  }
}

@media screen and (max-width: 768px) {
  .dev-hero-container > h1 {
    font-size: 50px;
    margin-top: -100px;
  }

  .dev-hero-container > p {
    font-size: 30px;
  }

  .dev-btn-mobile {
    display: block;
    text-decoration: none;
  }

  .dev-btn {
    width: 100%;
  }

  .dev-h1 {
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: transparent;
    animation: text_reveal 0.5s ease forwards;
    animation-delay: 1s;
  }
  .dev-h1:nth-child(1) {
    animation-delay: 1s;
  }
  .dev-h1:nth-child(2) {
    animation-delay: 2s;
  }
  .dev-h1:nth-child(3) {
    animation: text_reveal_name 0.5s ease forwards;
    animation-delay: 3s;
  }
  .dev-h1 span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: crimson;
    animation: text_reveal_box 1s ease;
    animation-delay: 0.5s;
  }
  .dev-h1:nth-child(1) span {
    animation-delay: 0.5s;
  }
  .dev-h1:nth-child(2) span {
    animation-delay: 1.5s;
  }
  .dev-h1:nth-child(3) span {
    animation-delay: 2.5s;
  }
}
